<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="header">
    <div class="row col-lg-12">
      <div class="col-lg-2">
        <img    src="../assets/images/normal_165cab252aa51e88.png" alt="logo"/></div>
      
        <div class="col-lg-8" >   
          <label style=" font-size: 29px;
          margin-left: 22%;
          color: aliceblue;
          line-height: 44px;
          text-align: center;
          line-height: 58px;
          font-variant: bold;
          font-weight: 700;
          font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;">  Keysight Waiver Database Application</label>
          
          </div>
    </div>
    </div>
  </div>
  <hr>
<div class="container">
      <div class="">
      <ul class="nav-links">
        <li>
          <a routerLink="AddWaiver" routerLinkActive="router-link-active">Add</a>
        </li>
        <!-- <li>
          <a routerLink="EditWaiver" routerLinkActive="router-link-active">Edit</a>
        </li> -->
        <li>
          <a routerLink="searchWaiver" routerLinkActive="router-link-active">Search</a>
        </li>
      </ul>
      <router-outlet></router-outlet>

</div>



